<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Alaa/Downloads/GitMavenProject/Appium_Project1">
        <classes>
            <class name="AppiumBasic.RunApp">
                <methods>
                    <include name="invalidLogin"/>
                    <include name="successLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>